body {
    background-color: #1B1B1B !important;
    padding-top: 60px;
    padding: 12px;
}

.backdrop {
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.btn {
    background: none;
    border: #fff 2px solid;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 48px;
    }
}

